body
{
	display: flex;
    flex-direction: column;
    height: 2000px;
    width: 100%;
}
header
{
    width: auto;
    height: 7%;
}
h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
	font-size: 4em;
    font-weight: bold;
    background-color: rgb(13, 112, 63);
    width: 80%;
    margin: auto;
    height: 100%;
}
section
{
    display: flex;
    flex-direction: column;
    height: 1200px;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 19%;
    margin-right: 19%;
}
@font-face
{
	font-family: 'Devonshire-Regular';
    src: url('Devonshire-Regular.ttf');
}
#menu,
#menu_0
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#menu
{
    margin-bottom: 5%;

}
.menu_1,
.menu_2,
.menu_3,
.menu_4
{
    height: 95%;
    width: 45%;
    text-align: center;  
    align-items: center;  
    box-shadow: -2px -1px 80px -40px rgba(0,0,0,0.7);
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2em;
}
.menu_1
{
    background-color: #eed4d2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_1_1
{
    margin: auto;
    font-family: 'Devonshire-Regular';
}
.menu_1_2
{
    margin: auto;
}
.menu_2
{
    background-color: #fff1fa;
}
.menu_3
{
    background-color: #f2f2f2;
}
.menu_4
{
    background-color: rgb(255, 255, 255);
}
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
	font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
h2,
h3
{
    background-color: rgb(13, 112, 63); 
}